
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>

<h1>Listing slides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description gauche</th>
      <th>Description droite</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.name %></td>
        <td><%= slide.desc_left %></td>
        <td><%= slide.desc_right %></td>
        <td><%= slide.picture %></td>
        <td><%= link_to [:admin, slide] do %><i class="material-icons">visibility</i><% end %></td>
        <td><%= link_to (edit_admin_slide_path(slide)) do %><i class="material-icons">mode_edit</i><% end %></td>
        <td><%= link_to [:admin, slide] , method: :delete, data: { confirm: 'Are you sure?' } do %><i class="material-icons">delete</i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @slides.each do |slide| %>
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <%= image_tag slide.picture %>
        <span class="card-title"><%= slide.name %></span>
      </div>
      <div class="card-content">
        <p><%= slide.desc_left %></p>
      </div>
      <div class="card-content">
        <p><%= slide.desc_right %></p>
      </div>
      <div class="card-action">
        <%= link_to [:admin, slide] do %><i class="material-icons">visibility</i><% end %>
        <%= link_to (edit_admin_slide_path(slide)) do %><i class="material-icons">mode_edit</i><% end %>
        <%= link_to [:admin, slide] , method: :delete, data: { confirm: 'Are you sure?' } do %><i class="material-icons">delete</i><% end %>
      </div>
    </div>
  </div>
</div>
<br>

<% end %>
<%= link_to 'New Slide', new_admin_slide_path %>
