<p id="notice"><%= notice %></p>

<h1 class="purple-text text-darken-4">Slides</h1>

<table>
  <thead>
    <tr>
      <th><i class="material-icons">mode_edit</i>Name</th>
      <th>desc left</th>
      <th>desc right</th>
      <th>picture</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.name %></td>
        <td><%= link_to 'Show', slide,  class:"waves-effect waves-light btn" %></td>
        <td><%= link_to 'Edit', edit_slide_path(slide) %></td>
        <td><%= link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slide', new_slide_path %>
