<p id="notice"><%= notice %></p>

<div class="show_articles">
  <strong>Name:</strong>
  <%= @slide.name %>
  <br><strong>Description left:</strong>
  <%= @slide.desc_left %>
  <br><strong>Description right</strong>
  <%= @slide.desc_right %>
  <br>Paperclip
  <%= image_tag @slide.picture.url(:medium)%>

</div>

<%= link_to 'Edit', edit_slide_path(@slide) %> |
<%= link_to 'Back', slides_path %>
